* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#box {
    width: 200px;
    height: 200px;
    border: 1px solid rgb(145, 216, 145);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 32px;
    background-color: rgb(191, 252, 191);
    box-shadow: 0px 8px 16px rgb(178, 235, 178);
    animation: animate ease 2s infinite;
}

@keyframes animate {
    50%{
        transform: translate(-50%, 20px);
    }
}
